<%- include("header") %>
<div class="parallax-container">
    <div class="parallax"><img src="./images/parallax1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">EkWeb</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      <a href="#form"><%= language.denounce %> form </a>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./images/parallax2.jpg"></div>
  </div>
    <div class="section white">
    <div class="row container">
      <h2 class="header">Formulario denuncia:</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        <form class="col s12" id="form">
          <div class="row">
            <div class="input-field col s6">
              <input name="name" type="text" class="validate" placeholder="<%=language.name%>">
            </div>
            <div class="input-field col s6">
              <input name="complaint_date" type="date" class="datepicker" placeholder="<%= language.date %>">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="email" type="email" class="validate" placeholder="<%= language.email %>">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="content" class="materialize-textarea validate" placeholder="<%= language.content %>"></textarea>
            </div>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn" type="submit"><%= language.send %></button>
          </div>
        </form>
    </div>
  </div>
<%- include("footer") %>